*{
  box-sizing:border-box;
}

body{
  max-width:40em;
  margin:auto;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.5;
  padding-bottom:2em;
}

p{
  font-family: Georgia, serif;
}

label,
input[type="text"],
textarea{
  width:100%;
  font:inherit;
  display:block;
}

a{
  color: inherit;
  text-decoration:none;
  padding-right: 1em;
}

a:hover{
  background-color: #ff6600;
  color: white;
}

header a{
  color: #ff6600;
  font-size: 2em;
}

h1{
  color: #ff6600;
}
